<!-- Popup itself -->
<script src="assets/translit-descr-popup.js"></script>

<div id="translit-rules" class="mfp-hide bg-warning">

<form>
<fieldset>
<legend>Транслитерация русских имен</legend>

<label>
Формирование сокращенного имени автора на английском языке происходит автоматически на основе правил транслитерации, утвержденных <a href="http://www.icao.int/publications/pages/publication.aspx?docnum=9303">Международной организацией гражданской авиации (ИКАО, ICAO) в документе 9303</a> (Doc 9303, part 3: Specifications Common to all MRTDs, section B. Transliteration of Cyrillic Characters). <br /> <br />По состоянию на 28.12.2015 правила транслитерации для русских символов следующие: <br />
</label>

<table class="table table-striped">
<thead>
<th align="center">Русская буква</th>
<th align="center">Латинская буква</th>
<th align="center">&nbsp;</th>
<th align="center">Русская буква</th>
<th align="center">Латинская буква</th>
<th align="center">&nbsp;</th>
<th align="center">Русская буква</th>
<th align="center">Латинская буква</th>
</thead>
<tbody>
 <tr>
  <td>А</td>
  <td>A</td>
  <td>&nbsp;</td>
  <td>К</td>
  <td>K</td>
  <td>&nbsp;</td>
  <td>Х</td>
  <td>KH</td>
 </tr>
 <tr>
  <td>Б</td>
  <td>B</td>
  <td>&nbsp;</td>
  <td>Л</td>
  <td>L</td>
  <td>&nbsp;</td>
  <td>Ц</td>
  <td>TS</td>
 </tr>
 <tr>
  <td>В</td>
  <td>V</td>
  <td>&nbsp;</td>
  <td>М</td>
  <td>M</td>
  <td>&nbsp;</td>
  <td>Ч</td>
  <td>CH</td>
 </tr>
 <tr>
  <td>Г</td>
  <td>G</td>
  <td>&nbsp;</td>
  <td>Н</td>
  <td>N</td>
  <td>&nbsp;</td>
  <td>Ш</td>
  <td>SH</td>
 </tr>
 <tr>
  <td>Д</td>
  <td>D</td>
  <td>&nbsp;</td>
  <td>О</td>
  <td>O</td>
  <td>&nbsp;</td>
  <td>Щ</td>
  <td>SHCH</td>
 </tr>
 <tr>
  <td>Е</td>
  <td>E</td>
  <td>&nbsp;</td>
  <td>П</td>
  <td>P</td>
  <td>&nbsp;</td>
  <td>Ъ</td>
  <td>IE</td>
 </tr>
 <tr>
  <td>Ё</td>
  <td>E</td>
  <td>&nbsp;</td>
  <td>Р</td>
  <td>R</td>
  <td>&nbsp;</td>
  <td>Ы</td>
  <td>Y</td>
 </tr>
 <tr>
  <td>Ж</td>
  <td>ZH</td>
  <td>&nbsp;</td>
  <td>С</td>
  <td>S</td>
  <td>&nbsp;</td>
  <td>Ь</td>
  <td>не передается</td>
 </tr>
 <tr>
  <td>З</td>
  <td>Z</td>
  <td>&nbsp;</td>
  <td>Т</td>
  <td>T</td>
  <td>&nbsp;</td>
  <td>Э</td>
  <td>E</td>
 </tr>
 <tr>
  <td>И</td>
  <td>I</td>
  <td>&nbsp;</td>
  <td>У</td>
  <td>U</td>
  <td>&nbsp;</td>
  <td>Ю</td>
  <td>IU</td>
 </tr>
 <tr>
  <td>Й</td>
  <td>I</td>
  <td>&nbsp;</td>
  <td>Ф</td>
  <td>F</td>
  <td>&nbsp;</td>
  <td>Я</td>
  <td>IA</td>
 </tr>

</tbody>
</table>
<br />
</fieldset>
</div>