<h1>Web-Сборник - это онлайн-сервис по созданию научных журналов.</h1>
<h2>Вы - автор?</h2> <% link_to 'Зарегистрируйтесь в системе', new_user_registration_path %> и подайте статью в один из журналов онлайн!
<h2>Вы - главный редактор научного сборника?</h2> Опробуйте удобный функционал системы! Зарегистрируйтесь, создайте новый журнал и разошлите потенциальным авторам приглашения!

Возможности WEB-Сборника *:
- координация действий участников сборника,
- автоматические уведомления о необходимых действиях (в том числе по СМС)
- уведомление участников системы о приеме статей в открывшиеся выпуски сборников,
- возможность назначить корректоров для статей с контролем сроков исполнения,
- индексация опубликованных журналов в поисковых системах (Yandex.ru. Google.com) и в базах данных научных журналов (...)
и многое другое

* Система находится в режиме BETA-тестирования, ряд функций пока находится в разработке.
